<div class="section section-contact text-center">
    <div class="container">
        <div class="container-inner p-5 position-relative theme-bg-primary rounded text-white">
            <div class="section-bg-container"></div>
            <div class="container our-webcoderskull py-3 section-col-max mx-auto">
                <h3 class="section-title mb-4 text-white">Contact Us</h3>
                <div class="profile-holder mb-3">
                    <img style="margin: 30px; width: 140px;" class="profile-image"
                        src="assets/images/team/ashkan-shakiba.jpg" alt="image">
                    <img style="margin: 30px; width: 140px;" class="profile-image"
                        src="assets/images/team/farhad-aman.jpg" alt="image">
                    <img style="margin: 30px; width: 140px; height: 140px;" class="profile-image"
                        src="assets/images/team/amirfazel-koozegar.jpg" alt="image">
                </div>
                <p class="intro">Help us improve this site and course by sending your feedbacks.
                    You can contact <a href="mailto:AshkanShakiba11@gmail.com">AshkanShakiba11[at]gmail[dot]com</a>
                    , <a href="mailto:farhadaman7780@gmail.com">farhadaman7780[at]gmail[dot]com</a>
                    or <a href="mailto:amirfazel45@gmail.com">amirfazel45[at]gmail[dot]com</a>
                    for further suggestions.
                <h5 class="intro text-white">Know someone who may find the course useful?</h5>
                <div>Help them find AUT OS like you did! :)</div>
            </div>
            <!--//section-col-max-->
        </div>
        <!--//container-inner-->
    </div>
    <!--//container-->
</div>
<!--//section-->