<div class="modal modal-video" id="{{ include.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-body">
                <div class="video-container embed-responsive embed-responsive-16by9">
                    <iframe style="position: absolute; width: 100%; height: 100%; top: 0; right: 0; border: none"
                        src="{{ include.src }}" allowFullScreen="true" webkitallowfullscreen="true"
                        mozallowfullscreen="true"
                        allow="accelerometer; gyroscope; picture-in-picture; autoplay; fullscreen; encrypted-media"
                        frameborder="0"></iframe>
                </div>
                <!--//video-container-->
            </div>
            <!--//modal-body-->
        </div>
        <!--//modal-content-->
    </div>
    <!--//modal-dialog-->
</div>