.day-box{
    height: 5rem;
    width: 14% !important;
}
.day-box span{
    overflow-wrap: break-word;
}


.month-button {
    width: 100%; 
    margin: 5px 0;
}

@media (min-width: 768px) {
    .month-button {
        width: auto;
    }
}

.badge-sizing{
    /* min-width: 100%;
    width: fit-content; */
    overflow-x: hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }