<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">8.</span>
            <a href="https://github.com/OS-CE-AUT/Documents/raw/main/lecture%208%20-%20Processes%20(Part%204).pdf" class="reference-link">
                Processes (Part 4)
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
