<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">18.</span>
            <a href="https://github.com/OS-CE-AUT/Documents/raw/main/lecture%2018%20-%20Main%20Memory-Part1.pdf" class="reference-link">
                Main Memory-Part1
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
