<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">2.</span>
            <a href="https://github.com/OS-CE-AUT/Documents/raw/main/lecture%202%20-%20Computer%20System%20Organization.pdf" class="reference-link">
                Computer System Organization
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
