<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">15.</span>
            <a href="https://github.com/OS-CE-AUT/Documents/raw/main/lecture15%20-%20Synchronization%20Tools-Part3.pdf" class="reference-link">
                Synchronization Tools-Part3
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Documentation
        </div>
    </div>
</div>
