<div class="section-nav-space-holder d-none d-lg-block">
    <div id="section-nav-wrapper" class="section-nav-wrapper text-center">
        <div class="container-fluid justify-content-center">
            <ul id="section-nav" class="section-nav nav list-inline">
                <li class="nav-item">
                    <a class="nav-link scrollto active" href="#home">
                        <img src="assets/images/amirkabir-logo.png" class="sharif">
                        <span class="name">{{ site.title }}</span>
                    </a>
                </li>
                {% for item in site.data.sections %}
                {% if item.navbar %}
                <li class="nav-item"><a class="nav-link scrollto"
                        href="#section-{{ item.section }}">{{ item.title }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="nav-item float-right">
                    <a href="https://virgool.io/os_ce_aut" target="_blank" class="col-sm-1 nav-link float-right"><span class="icon-virgool fa-lg"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span></a>
                    <a href="https://github.com/os_ce_aut" target="_blank" class="col-sm-1 nav-link float-right"><i class="fab fa-github fa-lg" style="color: #24292e;"></i></a>
                    <a href="https://t.me/os_ce_aut" target="_blank" class="col-sm-1 nav-link float-right"><i class="fab fa-telegram fa-lg" style="color: #0088c7;"></i></a>
                    <a href="https://quera.ir/overview/add_to_course/course/0000" target="_blank" class="col-sm-1 nav-link float-right"><span class="icon-quera fa-lg" style="color: #09c;"></span></a>
                </li>
            </ul>
            <!--//page-nav-->
        </div>
    </div>
    <!--//page-nav-wrapper-->
</div>
<!--//page-nav-space-holder-->